.experience {
  padding: 120px 8%;
}

.experience-grid {
  margin-top: 60px;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  );

  gap: 25px;
}

.experience-card {
  background: rgba(255,255,255,.03);

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 25px;

  padding: 35px;

  backdrop-filter: blur(15px);

  transition: .4s;
}

.experience-card:hover {
  transform: translateY(-10px);

  box-shadow:
    0 0 30px rgba(0,207,255,.15);
}

.experience-icon {
  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  background: linear-gradient(
    90deg,
    #00cfff,
    #8b5cf6
  );

  color: white;

  font-size: 1.8rem;

  margin-bottom: 20px;
}

.experience-year {
  display: inline-block;

  margin-bottom: 15px;

  padding: 8px 16px;

  border-radius: 25px;

  background: rgba(0,207,255,.1);

  color: #00cfff;

  font-size: .9rem;

  font-weight: 600;
}

.experience-card h3 {
  margin-bottom: 15px;

  font-size: 1.4rem;
}

.experience-card p {
  color: #9ca3af;

  line-height: 1.8;
}

@media(max-width:768px){

  .experience-grid{
    grid-template-columns:1fr;
  }

}